body {
    /*con esto no deja espacios en blanco en toda la pagina*/
    font-family: Arial, Helvetica, sans-serif;
    /*tipo de texto y estilo*/
    background-color: rgb(138, 138, 138);
    /*color del fondo de la pagina*/
    margin-right: 3%;
    margin-left: 3%;
}

div {
    display: block;
    /*en general para todos los div que se agregen*/
}

.header {
    background-color: rgb(186, 186, 186);
    padding: 30px;
    text-align: center;
}


.topnav {
    /*el estilo del la lista ul la barra de la navegacion*/
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

#contacto {
    float: right;
    background-color: rgb(0, 143, 226);
}

#active {
    background-color: #4CAF50;
    color: white;
}

.li:hover:not(#active) {
    background-color: #555;
    color: white;
}

.li {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.contenido {
    text-align: justify;
    background-color: rgb(186, 186, 186);
}

.gallery {
    /*aqui comienza la personalizacion de las imagenes de las galeria*/
    margin: 5px;
    border: 1px solid #ccc;
    width: 230px;
    height: auto;
}

.gallery:hover {
    /*aqui resalta la imagen cuando se pone el mouse encima de la imagen*/
    border: 1px solid #777;
}


/*aqui termina la personalizacion de las imagenes de la galerias*/

.footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    position: bottom;
}